#wheelbarrow-foreground {
  position: absolute;
  z-index: 3;
}

#basket {
  position: absolute;
  z-index: 2;
  top: 212px;
  left: 369px;
}

#baskets {
  position: absolute;
  z-index: 5;
  top: 291px;
  left: 319px;
}

#ball {
  position: absolute;
  z-index: 0;
  top: 260px;
  left: 455px;
}

#wrappers {
  position: absolute;
  z-index: 0;
  top: 283px;
  left: 270px;
}

.kitty-1 {
  position: absolute;
  top: 260px;
  left: 257px;
  transform: scaleY(-1);
}

#kitty-2 {
  position: absolute;
  top: 260px;
  left: 257px;
}

#kitty-3 {
  position: absolute;
  z-index: auto;
  top: 60px;
  left: 18px;
}

#kitty-4 {
  position: absolute;
  z-index: 0;
  top: 260px;
  left: 257px;
}

#kitty-5 {
  position: absolute;
  z-index: 0;
  top: 260px;
  left: 257px;
}
